
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Coding Band</h2>

<p>
    Bienvenidos a la Prueba a Distancia de Coding Band... Web Api + Angular Js v.1.x
</p>

